<!doctype html>
<html>
<head>
<title>Welcome</title>
<style>

form
{
	text-align : center;
	font-size:20px;
	margin:50px;
	color:black;
	font-family:verdana;
}

</style>
</head>
<body style="background-image:url('signup_back1.jpeg');background-repeat:no-repeat;background-size:cover;">

<div id="signup">
<form>
<fieldset style="background-color:powderblue;">
<legend>Sign up</legend>
	User Name <br>
	<input type="text" name="Name" required>
	<br>
	<br>
	Mail <br>
	<input type="email" name="email" required>
	<br>
	<br>
	Phone <br>
	<input type="tel" name="phone" required>
	<br>
	<br>
	Password<br>
	<input type="password" name="password" required>
	<br>
	<br>
	Gender
	<br>
	<select name="gender" required>
	<option value="Male">Male</option>
	<option value="Female">Female</option>
	</select>
	<br>
	<br>
	Date of Birth 
	<br>
	<input type="date" name="dob" required>
	<br>
	<br>
	<input type="submit" name="submit" required>
	<br>
	<br>
</fieldset>
</form>
</div>
</body>
</html>
